<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Reproductor de Musica{% endblock %}</title>
    </head>
    <body>
        <div id="navBar-fixed-top">
            {% block sidebar %}
                <ul>
                    <li><a href="/">Home</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/config">config</a></li>
                    <li><a href="/timelinedeunomismo">{{user.name}}</a></li>
                    <li><a href="/cerrarsesion">cerrar sesion</a></li>                    
                    {% else %}
                    <li><a href="/signIn">Sign In</a></li>
                    <li><a href="/logIn">Log In</a></li>
                </ul>
            {% endblock %}	
        </div>
        
        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>