<!DOCTYPE html>
<html lang="en">
<head>
    <title>RTM searcher</title>
</head>
     
<body>	
<form method='POST' action='.'>
{% csrf_token %}
	<table>
		{% for field in form %}
		<tr>
			
				<td>{{ field.label_tag}}</td>
			    <td>{{ field}}</td>
				</tr>
		{% endfor %}
	</table>

<input type="submit" value="search" />
</form>
</body>

</html>
