<!DOCTYPE html>
<html lang="en">
<head>
    <title>RTM results</title>
</head>
     
<body>
	{% if toSend %}
	    {% for s in toSend %}
	    	<table>
	    		<tr>
	    			<td></td>
	        		<td><a href={{ s.url }} >{{ s.title }}</a></td>
	        		<td>{{ s.date }}</td> 
	        	</tr>
		</table>
		<br>
	    {% endfor %}
	{% else %}
	    <p>No messages are available.</p>
	{% endif %}
	{% if results %}
	    <table>
	   		<tr>
	   			{% for i in results %}
	        		<td><a href="/searcher/{{ i }}/" >{{ i }}</a></td>
	    		{% endfor %}
	        </tr>
		</table>
		<br>
	{% endif %}
</body>

</html>
